/* ==========================================================================
   Main Stylesheet
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ---------------------------------------------
      Color
   --------------------------------------------- */
/* ---------------------------------------------
      Mixins
   --------------------------------------------- */
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/Franklin Gothic Demi Cond Regular.ttf);
}
/* ==========================================================================
   Elements
   ========================================================================== */
/* ---------------------------------------------
			Buttons
   --------------------------------------------- */
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: blue;
}
.btn:hover {
  color: blue;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid blue;
}
.btn-sm {
  padding: 20px;
}
.btn-search {
  margin-left: -30px;
  border: none;
  background: transparent;
}
/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Homepage
   ========================================================================== */
body {
  height: 1500px;
}
a {
  text-decoration: none;
}
.col-left {
  text-align: left;
}
.col-center {
  text-align: center;
}
.col-right {
  text-align: right;
}
.img-responsive-fill {
  display: block;
  width: 100%;
  height: auto;
}
/* ---------------------------------------------
      Header
   --------------------------------------------- */
.main-header {
  font-family: myFirstFont;
  padding-top: 20px;
  margin-bottom: 50px;
}
.main-header .logo {
  float: left;
}
.main-header .site-guide .social-list {
  float: right;
  margin-bottom: 10px;
}
.main-header .site-guide .social-list .social-link {
  margin-left: 15px;
}
.main-header .site-guide .form-search {
  float: right;
}
.main-header .site-guide .form-search .input-search {
  margin-top: 5px;
  height: 22px;
}
/* ---------------------------------------------
      Slider
   --------------------------------------------- */
.slider {
  position: relative;
}
.slider .slide-left {
  float: left;
  margin-right: 10px;
  max-width: 55%;
}
.slider .slide-left .product-info {
  float: left;
  margin-bottom: 40px;
}
.slider .slide-left .ipad-sm {
  max-width: 218px;
  max-height: 125px;
}
.slider .slide-left .ipad-sm-1 {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.slider .slide-right {
  float: left;
  max-width: 40%;
  margin-right: 0px;
}
.slider .flex-prev,
.slider .flex-next {
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.slider .flex-prev {
  left: 2%;
}
.slider .flex-next {
  right: 2%;
}
.slider .flex-control-thumbs li {
  width: 50px;
  left: 50%;
  margin-left: -25px;
  position: relative;
}
.slider .flex-control-thumbs li img {
  height: 15px;
  width: 15px;
}
/* ---------------------------------------------
      Grid
   --------------------------------------------- */
.grid {
  margin-top: 45px;
}
.grid .img-wrapper {
  position: relative;
  margin-bottom: 20px;
  max-width: 400px;
}
.grid .img-wrapper .project-overlay {
  display: none;
}
.grid .img-wrapper .project-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: lightblue;
  opacity: 0.5;
}
.grid .img-wrapper .project-overlay .content {
  margin-top: 20px;
}
.grid .img-wrapper .project-overlay .content img {
  position: relative;
  left: 50%;
  margin-left: -70px;
}
/* ---------------------------------------------
      twoFullColumns
     --------------------------------------------- */
.twoFullColumns [class*=col] {
  padding: 0px;
}
/* ---------------------------------------------
      Footer
   --------------------------------------------- */
footer .nav-bar {
  text-align: center;
}
/* ---------------------------------------------
      UpScroll
   --------------------------------------------- */
.uparrow {
  background: url('../img/uparrow.png');
  cursor: pointer;
  width: 66px;
  height: 67px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}
/*------------------------------------------
  Responsive Grid Media Queries - 1200, 992, 768, 480
   1280-992   - desktop (default grid)
   992-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller

   Also, may modify and just make breakpoints where site goes wrong.
--------------------------------------------*/
@media all and (max-width: 769px) {
  .main-header .social-list,
  .main-header .form-search {
    display: none;
  }
  .ipads {
    display: none;
  }
}
/*-------------------------------------------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}
/* Non-Retina */
/* Retina */
/* ==========================================================================
   HELPERS
   ========================================================================== */
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: 2000ms;
  -o-transition: 2000ms;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -khtml-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: 2000ms;
  -o-transition: 2000ms;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
